* {
    box-sizing: 0;
    margin: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    /* Độ rộng của sidebar */
    background-color: #f0f0f0;
    padding: 20px;
}

.content {
    flex-grow: 1;
    /* Phần còn lại của không gian trống */
    padding: 20px;
}


/* CSS cho sidebar */
.boxcenter {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 8px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #cec7c7;
}

/* ----------------------------------- css trang add ------------------*/

.row>div {
    width: calc(50% - 10px);
    /* 50% width, subtracting margin */
    padding: 20px;
    border: 1px solid #ccc;
}

.row>div:first-child {
    margin-right: 20px;
}

/* ----------------------------------------- css danhsach*/
.danhsach-container {
    width: 70%;
}

.title {
    padding-bottom: 20px;
}

/* CSS cho bảng */
.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table,
.data-table th,
.data-table td {
    border: 1px solid #ddd;
}

.data-table th,
.data-table td {
    padding: 8px;
    text-align: left;
}

/* CSS cho các nút và input */
.input-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.input-button:hover {
    background-color: #0056b3;
}

/* CSS cho phần cuối của bảng */
.table-footer {
    margin-top: 20px;
}

/* CSS cho các nút trong phần cuối */
.table-footer .input-button {
    margin-right: 10px;
}